{% extends "base.html" %}
{% load static %}
{% block content %}
<div class = "col-sm-10">
    <h3 class ="">About Page</h3>
    <p>Python is omnipresent, and people use numerous Python-powered devices on a daily basis, whether they realize it or not. There are billions of lines of code written in Python, which means almost unlimited opportunities for code reuse and learning from well-crafted examples. What’s more, there is a large and very active Python community, always happy to help.
        There are also a couple of factors that make Python great for learning:</p>
        <p>    • It is easy to learn – the time needed to learn Python is shorter than for many other languages; this means that it’s possible to start the actual programming faster;
            • It is easy to use for writing new software – it’s often possible to write code faster when using Python;
            • It is easy to obtain, install and deploy – Python is free, open and multiplatform; not all languages can boast that.
        Programming skills prepare you for careers in almost any industry, and are required if you want to continue to more advanced and higher-paying software development and engineering roles. Python is the programming language that opens more doors than any other. With a solid knowledge of Python, you can work in a multitude of jobs and a multitude of industries. And the more you understand Python, the more you can do in the 21st Century. 
        Even if you don’t need it for work, you will find it useful to know.</p>
</div>
{% endblock content %}
